<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pets</h1>

    {% for pet in pets %}

    <div>
        <a href = "/{{pet.id}}" >
        <img src = "{{pet.photo_url}}" width="300" height="200"></a><br>
        {% if pet.available  %}
        <p>{{pet.name}} is available!</p>
        {% else %}

        <p>{{pet.name}} is not available.</p>
        {% endif %}
    </div>

    {% endfor %}

    <a href = "/add">Add a Pet</a>
</body>
</html>